@model string

<div class="text-while" style="position:fixed; bottom: 30px; right: 30px;">
	<a asp-controller="@Model" asp-action="Create" class="btn btn-success">
		<i class="bi bi-plus-circle"></i>Add New
	</a>
</div>